.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 7px;
    z-index: 5;
    position: relative;
}
.SearchIcon{
    color: #777;
}